<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckEndURL</filter-name>
        <filter-class>filter.CheckEndURL</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckEndURL</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/lecture/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AttendanceStudentController</servlet-name>
        <servlet-class>controller.timetable.TimetableStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.home.HomeStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceLectureController</servlet-name>
        <servlet-class>controller.timetable.TimetableLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLectureController</servlet-name>
        <servlet-class>controller.home.HomeLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLecture</servlet-name>
        <servlet-class>controller.UpdateLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecture</servlet-name>
        <servlet-class>controller.AddLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLecture</servlet-name>
        <servlet-class>controller.SearchLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>controller.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudent</servlet-name>
        <servlet-class>controller.ListStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLecture</servlet-name>
        <servlet-class>controller.ListLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudent</servlet-name>
        <servlet-class>controller.SearchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLecture</servlet-name>
        <servlet-class>controller.DeleteLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>controller.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureViewFeedback</servlet-name>
        <servlet-class>controller.LectureViewFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureAttendance</servlet-name>
        <servlet-class>controller.attendance.LectureAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkStudentController</servlet-name>
        <servlet-class>controller.mark.MarkStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkLectureController</servlet-name>
        <servlet-class>controller.mark.MarkLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkByLecture</servlet-name>
        <servlet-class>controller.mark.UpdateMarkByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarkOfCourse</servlet-name>
        <servlet-class>controller.mark.UpdateMarkOfCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.admin.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>controller.sendingemail.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentControlByAdmin</servlet-name>
        <servlet-class>controller.modelAdminControl.StudentControlByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureControlByAdmin</servlet-name>
        <servlet-class>controller.modelAdminControl.LectureControlByAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWordControl</servlet-name>
        <servlet-class>controller.admin.ChangePassWordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeChangePassWordServlet</servlet-name>
        <servlet-class>controller.admin.NoticeChangePassWordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGradeStudentByLecture</servlet-name>
        <servlet-class>controller.home.ViewGradeStudentByLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNews</servlet-name>
        <servlet-class>controller.ListNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNews</servlet-name>
        <servlet-class>controller.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNews</servlet-name>
        <servlet-class>controller.DeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNews</servlet-name>
        <servlet-class>controller.UpdateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNews_Student</servlet-name>
        <servlet-class>controller.ListNews_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListNews_Lecture</servlet-name>
        <servlet-class>controller.ListNews_Lecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCourse</servlet-name>
        <servlet-class>controller.student.infoCourse.InfoCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllStudentInClass</servlet-name>
        <servlet-class>controller.student.infoCourse.GetAllStudentInClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControllerLecture</servlet-name>
        <servlet-class>controller.timetable.AdminControllerLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTeacherSchedule</servlet-name>
        <servlet-class>controller.timetable.ChangeTeacherSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfomationController</servlet-name>
        <servlet-class>controller.personalinfo.StudentInfomationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendanceStudent</servlet-name>
        <servlet-class>controller.attendance.CheckAttendanceStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>controller.chat.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeClass</servlet-name>
        <servlet-class>controller.studentChangeClass.ChangeClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeRequiredsController</servlet-name>
        <servlet-class>controller.studentChangeClass.SeeRequiredsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Toforward</servlet-name>
        <servlet-class>controller.studentChangeClass.Toforward</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureInfo</servlet-name>
        <servlet-class>controller.personalinfo.LectureInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassForFeedBack</servlet-name>
        <servlet-class>controller.ListClassForFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedbackByLectureId</servlet-name>
        <servlet-class>controller.ListFeedbackByLectureId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeedbackByStudentId</servlet-name>
        <servlet-class>controller.ListFeedbackByStudentId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSlotToFeedBack</servlet-name>
        <servlet-class>controller.ListSlotToFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentEachClass</servlet-name>
        <servlet-class>controller.ListStudentEachClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackToLecture</servlet-name>
        <servlet-class>controller.SendFeedbackToLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedBackToStudent</servlet-name>
        <servlet-class>controller.SendFeedBackToStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedback</servlet-name>
        <servlet-class>controller.UpdateFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackForLecture</servlet-name>
        <servlet-class>controller.UpdateFeedbackForLecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateApplicationController</servlet-name>
        <servlet-class>controller.CreateApplicationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateApplicationController</servlet-name>
        <url-pattern>/student/createApp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadAppController</servlet-name>
        <servlet-class>controller.LoadAppController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAppController</servlet-name>
        <url-pattern>/admin/loadApp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewContentController</servlet-name>
        <servlet-class>controller.ViewContentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewContentController</servlet-name>
        <url-pattern>/admin/viewCon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApproveController</servlet-name>
        <servlet-class>controller.ApproveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveController</servlet-name>
        <url-pattern>/admin/appCon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListAppByStu</servlet-name>
        <servlet-class>controller.ListAppByStu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAppByStu</servlet-name>
        <url-pattern>/student/listAppByStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLecture</servlet-name>
        <url-pattern>/admin/ListLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecture</servlet-name>
        <url-pattern>/admin/AddLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLecture</servlet-name>
        <url-pattern>/admin/SearchLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/admin/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudent</servlet-name>
        <url-pattern>/admin/ListStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudent</servlet-name>
        <url-pattern>/admin/SearchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/admin/DeleteStudent</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>LectureViewFeedback</servlet-name>
        <url-pattern>/lecture/LectureViewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLecture</servlet-name>
        <url-pattern>/admin/UpdateLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/admin/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLecture</servlet-name>
        <url-pattern>/admin/DeleteLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceStudentController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceLectureController</servlet-name>
        <url-pattern>/lecture/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLectureController</servlet-name>
        <url-pattern>/lecture/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureAttendance</servlet-name>
        <url-pattern>/lecture/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkStudentController</servlet-name>
        <url-pattern>/student/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkLectureController</servlet-name>
        <url-pattern>/lecture/mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkByLecture</servlet-name>
        <url-pattern>/lecture/updatemark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarkOfCourse</servlet-name>
        <url-pattern>/lecture/updatemarkofcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/admin/emailsending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentControlByAdmin</servlet-name>
        <url-pattern>/admin/controlStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureControlByAdmin</servlet-name>
        <url-pattern>/admin/controlLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWordControl</servlet-name>
        <url-pattern>/admin/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeChangePassWordServlet</servlet-name>
        <url-pattern>/admin/noticechangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGradeStudentByLecture</servlet-name>
        <url-pattern>/lecture/viewgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCourse</servlet-name>
        <url-pattern>/student/activitydetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllStudentInClass</servlet-name>
        <url-pattern>/student/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControllerLecture</servlet-name>
        <url-pattern>/admin/timetablelecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTeacherSchedule</servlet-name>
        <url-pattern>/admin/changeschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfomationController</servlet-name>
        <url-pattern>/student/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendanceStudent</servlet-name>
        <url-pattern>/student/checkabsent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNews</servlet-name>
        <url-pattern>/admin/ListNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNews_Lecture</servlet-name>
        <url-pattern>/lecture/ListNews_Lecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNews_Student</servlet-name>
        <url-pattern>/student/ListNews_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNews</servlet-name>
        <url-pattern>/admin/AddNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNews</servlet-name>
        <url-pattern>/admin/DeleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNews</servlet-name>
        <url-pattern>/admin/UpdateNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeClass</servlet-name>
        <url-pattern>/student/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeRequiredsController</servlet-name>
        <url-pattern>/student/seerequired</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Toforward</servlet-name>
        <url-pattern>/student/changetostudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureInfo</servlet-name>
        <url-pattern>/lecture/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassForFeedBack</servlet-name>
        <url-pattern>/lecture/ListClassForFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedbackByLectureId</servlet-name>
        <url-pattern>/student/ListFeedbackByLectureId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeedbackByStudentId</servlet-name>
        <url-pattern>/lecture/ListFeedbackByStudentId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSlotToFeedBack</servlet-name>
        <url-pattern>/student/ListSlotToFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentEachClass</servlet-name>
        <url-pattern>/lecture/ListStudentEachClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackToLecture</servlet-name>
        <url-pattern>/student/SendFeedbackToLecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedBackToStudent</servlet-name>
        <url-pattern>/lecture/SendFeedBackToStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedback</servlet-name>
        <url-pattern>/lecture/UpdateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackForLecture</servlet-name>
        <url-pattern>/student/UpdateFeedbackForLecture</url-pattern>
    </servlet-mapping>
    <display-name>EmailSendingWebApp</display-name>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>havancuong07122003@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>rnyo ovaw awmu ojxu</param-value>
    </context-param>

</web-app>
